<div class="color" >
  <div class="container  pt-5">  
      <div class="row text-center align-items-center  pt-5">
          <div class="col-12 col-md-6 mt-5 mb-5">
                  <img src="https://www.reviewgeek.com/p/uploads/2018/03/81dd2b65.jpg?width=1200" class="img-fluid img-thumbnail" alt="...">
          </div>
          <div class="col-12 col-md-6">
              <div class="font-weight-light pb-3" >
                  
                  <h2 class="pt-3 text-white">Xplore the world of knowlege</h2>
              </div>
              <h4 class="font-weight-light text-white">Don't stop reading habit...</h4>
           </div>   
      </div>
  </div>
</div>






















<!-- <div class="container-fluid">
   <div class="cover">
   
    <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"  data-bs-interval="3000">
          <p class="text-center" class="d-block w-100" alt="...">"Reading is a conversation. All books talk, But a good book listens as well."</p>
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <p class="text-center" class="d-block w-100" alt="...">"Keep reading. It's one of the most marvelous adventures that anyone can have."</p>
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <p class="text-center" class="d-block w-100" alt="...">"Reading is like breathing in,Writing is like breathing out."</p>
        </div>
      </div>
    </div>  
</div>  -->

